* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('./images/desktop/image-header.jpg');
    height: 800px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    display: block;
    margin: 0 20px;
}

li a {
    font-family: Barlow;
    color: white;
    text-decoration: none;
}

button {
    height: 46px;
    font-family: Fraunces;
    font-size: 13px;
    border-radius: 23px;
    width: 110px;
    border: 0;
    background-color: white;
    transition: background-color 0.1s, color 0.1s;
}

button:hover {
    cursor: pointer;
    background-color: #6fcfff;
    color: white;
}

.sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-family: Fraunces;
    font-weight: 900;
    margin: 90px 0 120px;
    font-size: 42px;
    letter-spacing: 5px;
}