* {
    margin: 0;
    padding: 0;
}

p {
    font-family: Barlow;
}

header {
    background-image: url('./images/desktop/image-header.jpg');
    height: 800px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {
    display: flex;
    align-items: center;
}

li {
    display: block;
    margin: 0 20px;
}

li a {
    font-family: Barlow;
    color: white;
    text-decoration: none;
}

button {
    height: 46px;
    font-family: Fraunces;
    font-size: 13px;
    border-radius: 23px;
    width: 110px;
    border: 0;
    background-color: white;
    transition: background-color 0.1s, color 0.1s;
}

button:hover {
    cursor: pointer;
    background-color: #6fcfff;
    color: white;
}

.sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-family: Fraunces;
    font-weight: 900;
    margin: 90px 0 120px;
    font-size: 42px;
    letter-spacing: 5px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(auto, 42vw); */
    grid-template-rows: minmax(auto, 42vw) minmax(auto, 42vw) minmax(auto, 42vw) minmax(auto, auto) minmax(auto, 28vw);
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
}

.transform.img {
    background-image: url('./images/desktop/image-transform.jpg');
}

.text {
    padding: 0 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-family: Fraunces;
    font-weight: 900;
    font-size: 38px;
    color: hsl(212, 27%, 19%);
}

.text p {
    margin: 7% 0;
    color: hsl(232, 10%, 55%);
    line-height: 1.6;
}

.text a {
    text-decoration: none;
    color:hsl(212, 27%, 19%);
    font-family: Fraunces;
    display: inline-table;
}

.line {
    width:110%; 
    height:9px; 
    border-radius: 5px;
    position: relative;
    top: -7px;
    right: 5px;
    z-index: -1;
}

.transform .line {
    background-color: hsl(51, 100%, 85%);
}

.transform a:hover .line {
    background-color: hsl(51, 100%, 49%);
}

.stand-out .line {
    background-color: hsl(7, 99%, 85%);
}

.stand-out a:hover .line {
    background-color: hsl(7, 99%, 70%);
}

.stand-out.img {
    background-image: url('./images/desktop/image-stand-out.jpg');
}

.graphic {
    background-image: url('./images/desktop/image-graphic-design.jpg');
    color: hsl(167, 40%, 24%);
}

.photography {
    background-image: url('./images/desktop/image-photography.jpg');
    color: hsl(198, 62%, 26%);
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    line-height: 1.5;
    padding: 50% 0 0;
}

.centered p {
    margin: 6% 25% 10%;
}

h3 {
    font-family: Fraunces;
    font-size: 26px;
}

.clients {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 10%;
}

h4 {
    font-family: Fraunces;
    font-size: 20px;
    letter-spacing: 5px;
    margin: 0 0 5%;
    color: hsl(210, 4%, 67%);
}

.clients-info {
    display: flex;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 3%;
    justify-content: space-between;
}

.pfp-container img {
    width: 70px;
    border-radius: 50%;
}

.quote {
    padding: 50px 0;
    color: hsl(213, 9%, 39%);
    line-height: 1.5;
}

strong {
    font-family: Fraunces;
    font-size: 17px;
}

small {
    font-family: Barlow;
    font-size: 12px;
    padding: 10px;
    color: hsl(210, 4%, 67%);
}

.image-row {
    display: flex;
}

.short-img {
    width: 50%;
    height: 100%;
}

.left .first {
    background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
}

.left .second {
    background-image: url('./images/desktop/image-gallery-orange.jpg');
}

.right .first {
    background-image: url('./images/desktop/image-gallery-cone.jpg');
}

.right .second {
    background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
}

footer {
    background-color: hsl(169, 26%, 56%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    fill:hsl(51, 100%, 49%);
}

footer ul {
    margin: 30px 0 60px;
}

footer a {
    color: hsl(213, 9%, 39%);
    transition: color 0.2s;
}

footer a:hover {
    color: white; 
}

.icons {
    display: flex;
}

.icon-container {
    margin: 0 10px 15px;
}

path {
    transition: fill 0.2s;
}

.icon-container:hover path {
    fill: white;
}